.Tarjeta{
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;   /* se mueve a la izquierda */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transform: translate(90px, -30px); /* X=20px a la derecha, Y=20px arriba */

     /* 👇 EL BORDE EXISTE DESDE YA */
    border: 2px solid transparent;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    transform: translate(90px, -30px);

    /* 👇 ANIMACIÓN SUAVE */
    transition: 
        border-color 0.3s ease,
        box-shadow 0.3s ease;

}

.Tarjeta h4 {
  font-size: 18px;
  font-weight: 600;
  color: #2e2e2e;
  margin-bottom: 8px;
}

.Tarjeta h4.h4-glow {
  color: #4caf50;
  text-shadow: 0 0 10px rgba(107, 189, 110, 0.6);
}



.Tarjeta:hover {
    border-color: #2d6830; /* azul pro */
    box-shadow: 0 8px 16px rgba(107, 189, 110, 0.5);

}

#inputsCalculo {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.input-flotante {
  position: relative;
}

.input-flotante input {
  padding: 14px 12px;
  font-size: 16px;
  border: 1px solid #c8eac9; /* borde suave */
  border-radius: 8px;
  outline: none;
  width: 200px;
  background-color: #f3faf3;
  color: #224525;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* foco */
.input-flotante input:focus {
  border-color: #4caf50;
  box-shadow: 0 0 0 3px rgba(107, 189, 110, 0.25); /* #6bbd6e */
}

/* label */
.input-flotante label {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #358438;
  font-size: 14px;
  pointer-events: none;
  background: #f3faf3;
  padding: 0 6px;
  transition: all 0.3s ease;
}

/* animación flotante */
.input-flotante input:focus + label,
.input-flotante input:valid + label {
  top: -6px;
  font-size: 12px;
  color: #2d6830;
}


/* botón */
.btn-pro {
  position: relative;
  padding: 14px 32px;
  font-size: 16px;
  font-weight: 600;
  color: #f3faf3;
  background: linear-gradient(135deg, #2d6830, #4caf50);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  overflow: hidden;
  transition: 
    transform 0.2s ease,
    box-shadow 0.3s ease;
  box-shadow: 0 8px 20px rgba(45, 104, 48, 0.35); /* sombra verde */
}

/* brillo animado */
.btn-pro::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.35),
    transparent
  );
  transition: left 0.6s ease;
}

/* hover */
.btn-pro:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 30px rgba(39, 84, 41, 0.45); /* #275429 */
}

.btn-pro:hover::before {
  left: 100%;
}

/* click */
.btn-pro:active {
  transform: scale(0.96);
  box-shadow: 0 6px 14px rgba(34, 69, 37, 0.4); /* #224525 */
}

/* texto arriba del brillo */
.btn-pro span {
  position: relative;
  z-index: 1;
}
